.virtual-btn.b1b1 .go-home{
  display: block;
  left: 23px;
  top: 530px;
  height:50px;
  width:50px;
  border-radius: 50%;
}

.virtual-btn .go-up{
  display: block;
  left: 23px;
  top: 530px;
  height:50px;
  width:50px;
  border-radius: 50%;
}

.virtual-btn.b1 .go-up{
  display: none;
}
.virtual-btn.b1b1 .go-up{
  display: none;
  left: 0px;
}


/* pop up delete btn*/
.virtual-btn.b1b1b1 .pop-up-btn,
.virtual-btn.b1b1b2 .pop-up-btn{
  display: block;
  height: 40px;
  left: 695px;
  width: 40px;
  top: 14px;
}

.virtual-btn.b1 .go-down{
  display: block;
  left: 900px;
  top:530px;
  height:50px;
  width:50px;
  border-radius: 50%;
}

.virtual-btn.b1b1b3b1 .go-up,
.virtual-btn.b1b1b3b2 .go-up,
.virtual-btn.b1b1b3b3 .go-up,
.virtual-btn.b1b1b3b4 .go-up,
.virtual-btn.b1b1b3b5 .go-up,
.virtual-btn.b1b1b3b6 .go-up{
  display: none;
}

.virtual-btn.b1b1b3b2 .go-spec-1,
.virtual-btn.b1b1b3b3 .go-spec-1,
.virtual-btn.b1b1b3b4 .go-spec-1,
.virtual-btn.b1b1b3b5 .go-spec-1,
.virtual-btn.b1b1b3b6 .go-spec-1{
  display: block;
  left: 100px;
  top: 530px;
  height:65px;
  width:85px;
 }

.virtual-btn.b1b1b3b1 .go-one-to-many-up,
.virtual-btn.b1b1b3b2 .go-one-to-many-up,
.virtual-btn.b1b1b3b3 .go-one-to-many-up,
.virtual-btn.b1b1b3b4 .go-one-to-many-up,
.virtual-btn.b1b1b3b5 .go-one-to-many-up,
.virtual-btn.b1b1b3b6 .go-one-to-many-up{
  display: block;
  left: 23px;
  top: 530px;
  height:50px;
  width:50px;
  border-radius: 50%;
}

.virtual-btn.b1b1b3b1 .go-down,
.virtual-btn.b1b1b3b2 .go-down,
.virtual-btn.b1b1b3b3 .go-down,
.virtual-btn.b1b1b3b4 .go-down,
.virtual-btn.b1b1b3b5 .go-down,
.virtual-btn.b1b1b3b6 .go-down{
  display: block;
  left: 800px;
  top: 530px;
  height:50px;
  width:50px;
  border-radius: 50%;
}

.virtual-btn.b1b1b3b1 .go-left,
.virtual-btn.b1b1b3b2 .go-left,
.virtual-btn.b1b1b3b3 .go-left,
.virtual-btn.b1b1b3b4 .go-left,
.virtual-btn.b1b1b3b5 .go-left,
.virtual-btn.b1b1b3b6 .go-left{
  display: block;
  left: 840px;
  top: 450px;
  height:50px;
  width:40px;
  /* border-radius: 50%; */
}

.virtual-btn.b1b1b3b1 .go-right,
.virtual-btn.b1b1b3b2 .go-right,
.virtual-btn.b1b1b3b3 .go-right,
.virtual-btn.b1b1b3b4 .go-right,
.virtual-btn.b1b1b3b5 .go-right,
.virtual-btn.b1b1b3b6 .go-right{
  display: block;
  left: 907px;
  top: 450px;
  height:50px;
  width:40px;
  /* border-radius: 50%; */
}


/*pop up btn*/
.virtual-btn.b1b1b3b1b1 .go-pop-up,
.virtual-btn.b1b1b3b2b1 .go-pop-up,
.virtual-btn.b1b1b3b3b1 .go-pop-up,
.virtual-btn.b1b1b3b4b1 .go-pop-up,
.virtual-btn.b1b1b3b5b1 .go-pop-up,
.virtual-btn.b1b1b3b6b1 .go-pop-up{
    display: block;
    position: absolute;
    top: 456px;
    left: 217px;
    width: 529px;
    height: 40px;
}

/* pop up delete btn*/
.virtual-btn.b1b1b3b1b1 .pop-up-btn,
.virtual-btn.b1b1b3b2b1 .pop-up-btn,
.virtual-btn.b1b1b3b3b1 .pop-up-btn,
.virtual-btn.b1b1b3b4b1 .pop-up-btn,
.virtual-btn.b1b1b3b5b1 .pop-up-btn,
.virtual-btn.b1b1b3b6b1 .pop-up-btn{
  display: block;
  height: 40px;
  left: 695px;
  width: 40px;
  top: 14px;
}

.virtual-btn.b1b1 .go-down-1{
  display: block;
  height:401px;
  width:280px;
  left:45;
  top:76px
}

.virtual-btn.b1b1 .go-down-2{
  display: block;
  height:401px;
  width:277px;
  left: 343px;
  top: 76px;
}

.virtual-btn.b1b1 .go-one-to-many-down-3{
  display: block;
  height:401px;
  width:277px;
  left: 639px;
  top: 76px;
}

/*start of Minor change*/

.virtual-btn.b1b1b3b1 .go-right{
  left: 100px;
  top: 530px;
  height:55px;
  width:110px;
}

.virtual-btn.b1b1b3b1 .go-left,
.virtual-btn.b1b1b3b2 .go-left{
	display:none;
}

.virtual-btn.b1b1b3b6 .go-right{
	display:none;
}

.virtual-btn.b1b1b1 .go-play-video,
.virtual-btn.b1b1b2 .go-play-video{
    display:block;
    width:530;
  	height:302;
  	left:19;
  	top:120;
  	right:548;
  	bottom:420;
}

.virtual-btn.b1b1b1 .go-pop-up,
.virtual-btn.b1b1b2 .go-pop-up {
  display:block;
  position:absolute;
  top:429px;
  left:20px;
  width: 529px;
  height:40px;
}
/*End of minor change*/

.pop-up-layer .fs-close-btn{
  z-index: 15;
  top: 30px;
  left: 750px;
  height:60px;
  width:60px;
  border-radius:50%;
  background-image: url('../../img/FSCloseBtn.png');
}

.misc-items .misc-close-btn{
  position:absolute;
  z-index: 0 ;
  top: 20px;
  left: 870px;
  height:60px;
  width:60px;
  border-radius:50%;
  background-image: url('../../img/FSCloseBtn.png');
}
