.virtual-btn button {
  /* set opacity to 0 for hide all the virtual btn */
   opacity:0;
  /* set color to transparent to hide the font */
    color: black;
/*  color: transparent;   */
  height: 150px;
  width:150px;
  border-radius: 5%;
  position:absolute;
}
/* .virtual-btn.b1 :active {
  border: 5px solid green;
} */
/* .virtual-btn.b1 > btn:active{
} */
.virtual-btn button:active{
  border: 5px solid black;
}
.virtual-btn.b1 .go-down-1{
  display: block;
  left: 91;
  top: 130px;
  /* height: 50px;
  width: 50px; */
}

.virtual-btn.b1 .go-down-2{
  display: block;
  left: 301;
  top: 130px;
  /* height: 50px;
  width: 50px; */
}

.virtual-btn.b1 .go-down-3{
  display: block;
  left: 511;
  top: 130px;
  /* height: 50px;
  width: 50px; */
}

.virtual-btn.b1 .go-down-4{
  display: block;
  left: 721;
  top: 130px;
  /* height: 50px;
  width: 50px; */
}

.virtual-btn.b1 .go-down-5{
  display: block;
  left: 91;
  top: 330px;
  /* height: 50px;
  width: 50px; */
}

.virtual-btn.b1 .go-down-6{
  display: block;
  left: 301;
  top: 330px;
  /* height: 50px;
  width: 50px; */
}

.virtual-btn.b1 .go-down-7{
  display: block;
  left: 511;
  top: 330px;
  /* height: 50px;
  width: 50px; */
}

.virtual-btn.b1 .go-down-8{
  display: block;
  left: 721;
  top: 330px;
  /* height: 50px;
  width: 50px; */
}
