<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Start of angularjs -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/common.css">


    <script type="text/javascript" src="js/imgConfig.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/angular-PapaParse.min.js"></script>
    <script src="js/moment.min.js"></script>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/js.cookie.js"></script>
    <script type="text/javascript" src="js/robotutils.js"></script>
    <script type="text/javascript" src="js/robotutils_2.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
	 <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">

    <!--End of angularjs -->

</head>

<body class="bg-img" >
    <div id="DocReady">
        <div id="appScope" ng-app="myApp" ng-controller="myCtrl">
            <!-- <div  style="position: absolute;top:10px;left: 300px;  height:50px;width:450px;text-align: left">
            </div> -->
            <p class="text-center feedback-header">意見反映(點擊或語音觸發錄音):</p>
            <!--<p ng-show="recordingAudio" class="feedback-recording-header" >錄音中: {{selectedCategory}}</p>-->
            <p ng-show="showSelected" class="feedback-recording-header" >已選擇: {{selectedCategory}}</p>
            <div class="{{'virtual-btn '+pagePos}}">
                <button ng-repeat="x in numberList"
                        ng-class="goDownClass( $index + 1)"
                        ng-style="getBtnImg('down-single' ,$index + 1)"
                        ng-click="selectCategory($index)">
                </button>
            </div>
            <img ng-show="recordingAudio" class="black-paper" src="img/black.jpg"></img>
            <!--<img ng-show="recordingAudio" ng-click="stopRecordAudio('echoEvent')" class="mic-recording" src="img/recording.gif" alt="Recording..">-->
			<button ng-click="closeApp()"  class="close-btn"><i class="fa fa-close" ></i></button>
            <div ng-bind="content" id="open" style="left: 120px; position: absolute; top: 80px; height:50px;width:360px;text-align: left; display:none">
            </div>
            <div>
                <img ng-show="showStartLogo" ng-click="startRecordAudio('callBack')" id="start_logo" class="start-logo" src="img/utility/Start_logo-01.png" >
                <img ng-show="showEndLogo" ng-click="stopRecordAudio('echoEvent')" id="end_logo" class="end-logo" src="img/utility/End_logo-01.png" >
            </div>
            <!--
            <button class = "record-audio-btn" ng-click="startRecordAudio()">start recording</button>
            <button class = "record-audio-btn" style="left: 400px;"  ng-click="stopRecordAudio()">stop recording</button>
             -->
            <!-- <button
            class = "record-audio-btn"
            style="left: 600px;"
            ng-click="searchNeo4j({question:'保安',lang:'CT'})">search neo4j</button> -->
        </div
    </div>
</body>

<script type="text/javascript">
    var isDocReady = false;
    var isOptionOnCD = false;
    var isOptionReady = true;
    var app = angular.module("myApp", []);
    var N = 15;

//    map() 方法返回一个新数组，数组中的元素为原始数组元素调用函数处理后的值
//    map() 方法按照原始数组元素顺序依次处理元素
//    注意： map() 不会对空数组进行检测
//    注意： map() 不会改变原始数组
//    apply 生成有N个元素的数组，因为没复制，所以每个元素都是Undefined，
//    call()函数属于Function对象，
//    给numberList中赋值，从0开始到N-1；这里N=20；
    var numberList = Array.apply(null, {
        length: N
    }).map(Number.call, Number);

    $('button').click(function() {
        // this其实是一个Html 元素。
        // $this 只是个变量名，加$是为说明其是个jquery对象。
        // 而$(this)是个转换，将this表示的dom对象转为jquery对象，这样就可以使用jquery提供的方法操作。
        var btn = $(this);

        //为btn设置属性和值，这是jQuery提供的方法操作
        btn.prop('disabled', true);

        //500ms = 0.5s；即0.5秒后重新设置属性和值
        setTimeout(function() {
            btn.prop('disabled', false);
        }, 500);
    });

//每一个Angular应用都会有一个 $rootScope。
//这个 $rootScope 是最顶级的scope，
//它对应着含有 ng-app 指令属性的那个DOM元素。
//如果页面上没有明确设定 $scope ，Angular就会把数据和函数都绑定到这里

    var feedBackList = ["客務處","停車場","保安","村巴","清潔","園藝","會所","其他"];

    app.controller("myCtrl", function($scope) {
        //给scope添加一个isRecording属性·
        $scope.isReocrding = false;
        $scope.isTouchDisable = false;
        $scope.showModal = false;
        $scope.isDisplay = false;
        $scope.pagePos = "b1";
        $scope.numberList = numberList;
        $scope.content = "";
        $scope.btnClickable = true;
        $scope.selectedCategory = "";
        $scope.recordingAudio = false;
        $scope.showStartLogo = true;
        $scope.showEndLogo = false;

    	$scope.closeApp = function(){
    		session.raiseEvent("teks/tp_ct_c_fujitec/closesubapps");
   			console.log("close sub app");
   			$scope.$apply();
   		}

        $scope.selectCategory = function (ans){
            var btnText;
            if (Number.isInteger(ans) == true){
                btnText = $scope.getBtnText(ans);
                session.raiseEvent("teks/tp_ct_c_fujitec/html",btnText);
            } else {
                btnText = ans 
                $scope.selectedCategory = btnText;
                $scope.showSelected = true;
                console.log("selected category:", btnText);
                $scope.$apply();
            }

        }

        $scope.getBtnText = function(index){
          return feedBackList[index]
        }

    	$scope.startRecordAudio = function(callBack){
            callBack = typeof callBack == "undefined" ? callBack : "false";
    		console.log("start recording audio");
            //if (callBack == "callBack"){
            //    session.raiseEvent("teks/tp_ct_c_fujitec/html", $scope.selectedCategory);
            //}
            session.raiseEvent("teks/tp_ct_c_fujitec_feedback/startrecording", $scope.selectedCategory);
            $scope.recordingAudio = true;
            $scope.showStartLogo = false;
            $scope.showEndLogo = true;
    		$scope.$apply();
    	}

    	$scope.stopRecordAudio = function(echoEvent){
             $scope.recordingAudio = false;
    		 console.log("stop recording audio");
            if (echoEvent == "echoEvent") {
                session.raiseEvent("teks/tp_ct_c_fujitec_feedback/stoprecording");
            }
            $scope.showStartLogo = true;
            $scope.showEndLogo = false;
    		$scope.$apply();
    	}
        //给scope添加一个mapImgSrc方法。 BGImg是Object对象，类似于python中的dict，
        //参数img为BGImg的key
        //函数返回BG的URL 例如: "img/main/b1b2"
        $scope.mapImgSrc = function(img) {
            var imgSrc =  "img/" + BGImg[img];
            console.log(imgSrc);
            return imgSrc
        }
        //函数返回button image的URL
        $scope.mapBtnImg = function(img) {
            var imgSrc = "img/" + btnImg[img];
            console.log(imgSrc);
            return imgSrc
        }
        //通过不同的参数，返回一个字典:{"background-image": "url('img/main/xinlove.jpg')"}
        //以此来设置元素的背景图像
        $scope.getBtnImg = function(type, digit) {
            var curPos = $scope.pagePos;
            var btnImgPos;
            //typeof 进行类型判别，如果为undefined，就赋值，不是就使用自己的值
            type = typeof type !== 'undefined' ? type : 'down';
            digit = typeof digit !== 'undefined' ? digit : '1';

            switch (type) {
                    //b1b1d1.jpg
                case "down-single":
                    btnImgPos = curPos + "d" + digit;
                    break;

                    //home.jpg
                case "home":
                    btnImgPos = "home";
                    console.log(btnImgPos);
                    break;

                    //down.jpg
                case "down":
                    btnImgPos = "down";
                    console.log(btnImgPos);
                    break;

                    //up.jpg
                case "up":
                    btnImgPos = "up";
                    break;
            }

            var btnImgSrc = $scope.mapBtnImg(btnImgPos);
            // console.log(btnImgSrc);
            var myObj = {
                "background-image": "url('" + btnImgSrc + "')"
            }
            return myObj
        }
        //以下2个为调用函数,修改$scope的属性
        $scope.imgSrc = $scope.mapImgSrc($scope.pagePos);
        //修改$scope.isRecording为true，加$apply是为了当前面的对象数据有更新时，会直接更新，不被忽略掉
        $scope.webStartRecord = function() {
            $scope.$apply(function() {
                $scope.isReocrding = true;
            })
        }
        //修改$scope.isRecording为false，加$apply是为了当前面的对象数据有更新时，会直接更新，不被忽略掉
        $scope.webStopRecord = function() {
            $scope.$apply(function() {
                $scope.isReocrding = false;
            })
        }
        //修改$scope.isTouchDisable为true，加$apply是为了当前面的对象数据有更新时，会直接更新，不被忽略掉
        $scope.webDisableTouch = function() {
            $scope.$apply(function() {
                $scope.isTouchDisable = true;
            })
        }
        //修改$scope.isTouchDisable为false，加$apply是为了当前面的对象数据有更新时，会直接更新，不被忽略掉
        $scope.webEnableTouch = function() {
            $scope.$apply(function() {
                $scope.isTouchDisable = false;
            })
        }
        //返回"go-down-" + index
        $scope.goDownClass = function(index) {
            return "go-down-" + index;
        }
        //返回"go-one-to-many-down-" + index
        $scope.goOneToManyDownClass = function(index) {
            return "go-one-to-many-down-" + index;
        }
        //返回"go-sibling-" + index
        $scope.goSiblingClass = function(index) {
            return "go-sibling-" + index;
        }
        //无返回，修改$scope.imgSrc的属性值(通过mapImaSrc方法获得图片的URL)
        $scope.goHome = function() {
            var curPos = $scope.pagePos;
            $scope.pagePos = "b1";
            $scope.imgSrc = $scope.mapImgSrc($scope.pagePos);
            console.log(curPos + "goto" + "b1");
        }
        //修改当前页面的位置，并发送事件"teks/tp_ct_c_fujitec/html_touch", curPos + "goto" + newPos
        $scope.loadPageImage = function(newPos, curPos) {
            newPos = typeof newPos !== 'undefined' ? newPos : 'b1';
            curPos = typeof curPos !== 'undefined' ? curPos : '';
            //创建图像对象，相当于给浏览器缓存了一张图片
            var imgLoader = new Image();

            imgLoader.onload = function() {
                $scope.$apply(function() {
                    $scope.pagePos = newPos;
                    $scope.imgSrc = $scope.mapImgSrc(newPos);
                    //session.raiseEvent("teks/tp_ct_c_fujitec/SayArbText", curPos+"goto" + newPos);
                    session.raiseEvent("teks/tp_ct_c_fujitec/html_touch", curPos + "goto" + newPos);
                    console.log(curPos + "goto" + newPos);
                });
            };

            imgLoader.onerror = function() {};

            imgLoader.src = $scope.mapImgSrc(newPos);
        }
        //在进行函数调用的时候,不管实参的数目大于形参还是小于形参被调用的函数都会执行
        //只是少的参数会为undefined
        $scope.goToSpecPos = function(position) {
            var curPos = $scope.pagePos;
            $scope.pagePos = position;
            $scope.imgSrc = $scope.mapImgSrc($scope.pagePos);
            $scope.loadPageImage(position);
        }
        //无返回，修改showModal或showFSModal
        $scope.goToSpecPopUp = function(specImgPos, fullscreen) {
            var curPos = $scope.pagePos;
            specImgPos = typeof specImgPos !== 'undefined' ? specImgPos : 'p1';
            fullscreen = typeof fullscreen !== 'undefined' ? fullscreen : 'false';
            $scope.popUpImgSrc = $scope.mapImgSrc(specImgPos);

            if (fullscreen == "false") {
                $scope.showModal = true;
            } else if (fullscreen == "true") {
                $scope.showFSModal = true;
            }

            console.log("popping" + specImgPos);
            $scope.$apply();
        }
        //修改属性值为false，并发送事件"teks/tp_ct_c_fujitec/html", "popCancel" + curPos
        $scope.cancelSpecPopUp = function() {
            var curPos = $scope.pagePos;
            $scope.showModal = false;
            $scope.showFSModal = false;
            $scope.isDisplay = false;
            isOptionReady = true;
            $scope.$apply();
            session.raiseEvent("teks/tp_ct_c_fujitec/html", "popCancel" + curPos);
            console.log("popCancel");
        }

        $scope.popUpQnA = function(specImgPos) {
            specImgPos = typeof specImgPos !== 'undefined' ? specImgPos : 'p1';
            $scope.popUpImgSrc = $scope.mapImgSrc(specImgPos);
            $scope.showFSModal = true;
            $scope.isDisplay = true;
            $scope.$apply();
        }

        $scope.goToPos = function(direction, position) {
            direction = typeof direction !== 'undefined' ? direction : "down";
            position = typeof position !== 'undefined' ? position : '1';
            var digit;
            var newPos;
            var curPos = $scope.pagePos;
            direction = direction.toLowerCase();
            switch (direction) {
                case "up":
                    var n = curPos.lastIndexOf("b");
                    var imgbranch = curPos.substring(0, n);
                    newPos = imgbranch;
                    break;

                case "one-to-many-up":
                    var n;
                    var x;
                    var imgbranch;
                    n = curPos.lastIndexOf("b");
                    imgbranch = curPos.substring(0, n);
                    x = imgbranch.lastIndexOf("b");
                    imgbranch = imgbranch.substring(0, x);
                    newPos = imgbranch;
                    break;

                case "down":
                    newPos = curPos + "b" + position;
                    break;

                case "one-to-many-down":
                    newPos = curPos + "b" + position + "b1";
                    break;

                case "left":
                    var n = curPos.lastIndexOf("b");
                    var imgbranch = curPos.substring(0, n);
                    digit = parseInt(curPos.substring(n + 1, curPos.length)) - 1;
                    if (digit <= 0)
                        return;
                    newPos = imgbranch + "b" + digit;
                    break;

                case "right":
                    var n = curPos.lastIndexOf("b");
                    var imgbranch = curPos.substring(0, n);
                    digit = parseInt(curPos.substring(n + 1, curPos.length)) + 1;
                    newPos = imgbranch + "b" + digit;
                    break;

                case "sibling":
                    var n = curPos.lastIndexOf("b");
                    var imgbranch = curPos.substring(0, n);
                    digit = position;
                    newPos = imgbranch + "b" + digit;
                    break;
            }
            $scope.loadPageImage(newPos, curPos);
        }

        $scope.showText = function(index){
            if(typeof index !== 'undefined' && $scope.btnClickable){
                console.log(index);
                //document.getElementById("open").style.display="none";
                $scope.btnClickable = false;
                session.raiseEvent('teks/tp_ct_c_fujitec/index', index);
            }3
        }

        // var neo4jQuery = {
        //   text: "hello. testing",
        //   lang:"CT"
        // }

        $scope.searchNeo4j = function(neo4jQuery){
          neo4jQuery = typeof neo4jQuery !== 'undefined' ? neo4jQuery : "你好";
          console.log("hihi");
          console.log(neo4jQuery);
          // var data = "testing";
          console.log(neo4jQuery);
            // if(typeof neo4jQuery !== 'undefined'){
          session.raiseEvent('teks/tp_ct_c_fujitec/searchneo4j', neo4jQuery);
            // }
        }

        session.subscribeToEvent('teks/tp_ct_c_fujitec/content_text', function(data) {
            $scope.$apply(function(){
                console.log(data);
                $scope.content = data;
                $scope.btnClickable = true;
                document.getElementById("open").style.display="inline";
            });
        });

        session.subscribeToEvent('teks/tp_ct_c_fujitec_feedback/selectCategory', function(text) {
            $scope.selectCategory(text);
        });
        session.subscribeToEvent("teks/tp_ct_c_fujitec_feedback/stoppedrecording", function(text) {
            $scope.stopRecordAudio(text);
        });

    });

    $(document).ready(function() {
        isDocReady = true;
        setTimeout(function() {
            //实现对页的隐藏，但会占用域的空间；例如会存在空白的区域，而display则不会占用域的空间，即不存在空白的地方
            document.getElementById("DocReady").style.visibility = "visible";
        }, 100);
    });

    //.directive 函数来添加自定义的指令。
    //要调用自定义指令，HTML 元素上需要添加自定义指令名
    //通过元素名，属性，类名来调用指令
    app.directive('modal', function() {
        return {
            //template（字符串或者函数）可选参数，可以是：一段HTML文本, 一个函数
            template: '<div class="modal fade">' +
                '<div class="modal-dialog pop-up-dialog">' +
                '<button type="button" class="pop-up-btn" data-dismiss="modal" aria-hidden="true">close</button>' +
                '<div class="pop-up-img-body" ng-transclude></div>' +
                '</div>' +
                '</div>',
            //restrict 可选参数，指明指令在DOM里面以什么形式被声明
            //取值有：E(元素),A(属性),C(类),M(注释)，其中默认值为A
            restrict: 'E',

            transclude: true,

            //去掉<modal></modal>标签
            replace: true,

            //依次设置scope的值false，true，{}，结果发现:
            //当为false时候，儿子继承父亲的值，改变父亲的值，儿子的值也随之变化，反之亦如此。（继承不隔离）
            //当为true时候，儿子继承父亲的值，改变父亲的值，儿子的值随之变化，但是改变儿子的值，父亲的值不变。（继承隔离）
            //当为{}时候，没有继承父亲的值，所以儿子的值为空，改变任何一方的值均不能影响另一方的值。（不继承隔离）
            scope: true,

            //scope为return参数中的scope
            //element为directive中第一个参数的名字
            //attr是个map，是你在<modal></modal>中的所有属性
            link: function postLink(scope, element, attrs) {
                scope.$watch(attrs.visible, function(value) {
                    if (value == true)
                        $(element).modal('show');
                    else
                        $(element).modal('hide');
                });

                $(element).on('shown.bs.modal', function() {
                    scope.$apply(function() {
                        scope.$parent[attrs.visible] = true;
                    });
                });

                $(element).on('hidden.bs.modal', function() {
                    scope.$apply(function() {
                        scope.$parent[attrs.visible] = false;
                    });
                });
            }
        };
    });


    app.directive('fsmodal', function() {
        return {
            template: '<div class="modal fade">' +
                '<div class="modal-dialog full-screen-pop-up-dialog">' +
                '<div class="full-screen-pop-up-img-body" ng-transclude></div>' +
                '</div>' +
                '</div>',
            restrict: 'E',
            transclude: true,
            replace: true,
            scope: true,
            link: function postLink(scope, element, attrs) {
                scope.$watch(attrs.visible, function(value) {
                    if (value == true)
                        $(element).modal('show');
                    else
                        $(element).modal('hide');
                });

                $(element).on('shown.bs.modal', function() {
                    scope.$apply(function() {
                        scope.$parent[attrs.visible] = true;
                    });
                });

                $(element).on('hidden.bs.modal', function() {
                    scope.$apply(function() {
                        scope.$parent[attrs.visible] = false;
                    });
                });
            }
        };
    });
</script>

</html>
