.virtual-btn button {
  /* set opacity to 0 for hide all the virtual btn */
   opacity:1;
  /* set color to transparent to hide the font */
    color: black;
/*  color: transparent;   */
    width:100px;
    height:100px;
}

.virtual-btn.b1 .go-down-1{
  display: block;
  left: 60px;
  top: 80px;


}

.virtual-btn.b1 .go-down-2{
  display: block;
  left: 60px;
  top: 140px;


}

.virtual-btn.b1 .go-down-3{
  display: block;
  left: 60px;
  top: 200px;


}

.virtual-btn.b1 .go-down-4{
  display: block;
  left: 60px;
  top: 260px;


}

.virtual-btn.b1 .go-down-5{
  display: block;
  left: 60px;
  top: 320px;


}

.virtual-btn.b1 .go-down-6{
  display: block;
  left: 60px;
  top: 380px;


}

.virtual-btn.b1 .go-down-7{
  display: block;
  left: 60px;
  top: 440px;


}

.virtual-btn.b1 .go-down-8{
  display: block;
  left: 60px;
  top: 500px;


}

.virtual-btn.b1 .go-down-9{
  display: block;
  left: 500px;
  top: 80px;


}

.virtual-btn.b1 .go-down-10{
  display: block;
  left: 500px;
  top: 140px;


}

.virtual-btn.b1 .go-down-11{
  display: block;
  left: 500px;
  top: 200px;


}

.virtual-btn.b1 .go-down-12{
  display: block;
  left: 500px;
  top: 260px;


}

.virtual-btn.b1 .go-down-13{
  display: block;
  left: 500px;
  top: 320px;


}

.virtual-btn.b1 .go-down-14{
  display: block;
  left: 500px;
  top: 380px;


}

.virtual-btn.b1 .go-down-15{
  display: block;
  left: 500px;
  top: 440px;


}
