$btnHeight: 100px;
$btnWidth: 100px;
$firstRowTop: 80px;
$vGap: 42px;
$hGap: 58px;
$marginLeft: 30px;
$marginTop: 80px;

.virtual-btn button {
   opacity:0;
  /* set opacity to 0 for hide all the virtual btn */

  /* set color to transparent to hide the font */
    color: black;
/*  color: transparent;   */
    width:$btnHeight;
    height:$btnHeight;
    border-radius:5%;
}

.virtual-btn.b1 .go-down-1{
  display: block;
  left: $marginLeft;
  top: $marginTop;


}

.virtual-btn.b1 .go-down-2{
  display: block;
  left: $marginLeft + $btnWidth + $hGap;
  top: $marginTop;


}

.virtual-btn.b1 .go-down-3{
  display: block;
  left: $marginLeft + 2*($btnWidth + $hGap);
  top: $marginTop;


}

.virtual-btn.b1 .go-down-4{
  display: block;
  left: $marginLeft + 3*($btnWidth + $hGap);
  top: $marginTop;


}

.virtual-btn.b1 .go-down-5{
  display: block;
  left: $marginLeft + 4*($btnWidth + $hGap);
  top: $marginTop;
}

.virtual-btn.b1 .go-down-6{
  display: block;
  left: $marginLeft + 5*($btnWidth + $hGap);
  top: $marginTop;
}
.virtual-btn.b1 .go-down-7{
  display: block;
  left: $marginLeft;
  top: $marginTop + $btnHeight + $vGap;


}

.virtual-btn.b1 .go-down-8{
  display: block;
  left: $marginLeft + $btnWidth + $hGap;
  top: $marginTop + $btnHeight + $vGap;


}

.virtual-btn.b1 .go-down-9{
  display: block;
  left: $marginLeft + 2*($btnWidth + $hGap);
  top: $marginTop + $btnHeight + $vGap;


}

.virtual-btn.b1 .go-down-10{
  display: block;
  left: $marginLeft + 3*($btnWidth + $hGap);
  top: $marginTop + $btnHeight + $vGap;


}

.virtual-btn.b1 .go-down-11{
  display: block;
  left: $marginLeft + 4*($btnWidth + $hGap);
  top: $marginTop + $btnHeight + $vGap;
}

.virtual-btn.b1 .go-down-12{
  display: block;
  left: $marginLeft;
  top: $marginTop + 2*($btnHeight + $vGap);
}

.virtual-btn.b1 .go-down-13{
  display: block;
  left: $marginLeft + $btnWidth + $hGap;
  top: $marginTop + 2*($btnHeight + $vGap);
}

.virtual-btn.b1 .go-down-14{
  display: block;
  left: $marginLeft + 2*($btnWidth + $hGap);
  top: $marginTop + 2*($btnHeight + $vGap);
}

.virtual-btn.b1 .go-down-15{
  display: block;
  left: $marginLeft + 3*($btnWidth + $hGap);
  top: $marginTop + 2*($btnHeight + $vGap);

}
